/*
Type: Page
Name: Chinese Grid
Short: .cg
 */
.page--chineseGrid {
	min-height: 100%;
	background-color: $color-orange-2;
}

.cg {
	min-height: 100vh;
}

.cg__container {
	max-width: 112rem;
	width: 100%;
	min-height: 100vh;
	margin: 0 auto;
	padding: 0 3.2rem;
}

.cg__container--editing {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	.cg__actions {
		display: flex;
		align-items: center;
		justify-content: space-around;
		margin: 3.2rem 0 2.4rem 0;
		padding: 0 3.2rem;
	}
}

.cg__container--configuring {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 3.2rem;
	padding-bottom: 6.4rem;
}

.cg__actions {
	width: 100%;
}

.cg__sheet {
	width: 100%;
	min-height: 80vh;
	margin: 0 auto;
	padding: 8rem;
	background-color: $color-white;
	border-radius: 2em 2em 0 0;
	box-shadow: 0 32px 32px rgb(204, 155, 96);
}

.cg__inputList {
	display: inline-flex;
	align-items: center;
	justify-content: left;
	flex-wrap: wrap;
}

.cg__inputItem {
	margin: 1.6rem .8rem;
}