/*
Type: Page
Name: Chinese Grid
Short: .cg
 */
.page--chineseGrid {
	height: 100vh;
	background-color: $color-gray-0;
}

.cg {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: end;
}

.cg__sheet {
	max-width: 108rem;
	width: 100%;
	min-height: 80vh;
	margin: 0 auto;
	padding: 8rem;
	background-color: $color-white;
	box-shadow: 0 16px 25px rgba(0, 0, 0, 0.25);
}

.cg__inputList {
	display: flex;
	align-items: stretch;
	justify-content: left;
	flex-wrap: wrap;
}

.cg__inputItem {
	margin: 1em .5em;
}