/*
Type: Page
Name: Chinese Grid
Short: .cg
 */
.page--chineseGrid {
	height: 100vh;
	background-color: $color-orange-2;
}

.cg {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
}

.cg__actions {
	max-width: 108rem;
	width: 100%;
	margin: 1em auto 1.5em auto;
	text-align: center;
}

.cg__sheet {
	max-width: 108rem;
	width: 100%;
	min-height: 80vh;
	margin: 0 auto;
	padding: 8rem;
	background-color: $color-white;
	border-radius: 2em 2em 0 0;
	box-shadow: 0 32px 32px rgb(204, 155, 96);
}

.cg__inputList {
	display: flex;
	align-items: stretch;
	justify-content: left;
	flex-wrap: wrap;
}

.cg__inputItem {
	margin: 1em .5em;
}