/*
Type: Page
Name: Onboarding
*/

.page.onboarding {
	height: 100vh;
	background-color: $color-orange-2;
	font-family: Signika, "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
	font-weight: $fontWeigth-Book;
	font-size: 1.6em;
	display: flex;
	flex-direction: column;
	overflow: auto;

	.container {
		margin: auto;
		padding: 0 2rem;
		width: 100%;
		max-width: 48rem;
	}

	.onboarding-header,
	.onboarding-main,
	.onboarding-footer {
		z-index: 10;
	}
}

.onboarding-header {
	display: flex;
	padding: 1em 1em 0 1em;

	.lpt-logo,
	.header-flags {
		display: none;
		flex: 1 0 0;
	}

	.lpt-logo a {
		display: inline-block;
	}

	.header-flags {
		text-align: right;
		letter-spacing: 0;
	}

	.header-flags svg {
		display: inline-block;
		margin-left: 1em;
		height: auto;
		transition: transform $transition-time-fast;

		&:hover,
		&:active {
			transform: scale(1.15, 1.15) rotate(3deg);
		}
	}
}

.onboarding-header__text {
	margin-bottom: 6rem;
	flex: auto;
	text-align: center;
	line-height: 1;
	color: $onboarding-green;

	hr {
		max-width: 10em;
		margin: .5em auto .75em auto;
		border-color: $onboarding-green;
		border-width: 2px 0 0 0;
	}
}

.onboarding-header__backBtn {
	display: inline-block;
	text-transform: uppercase;

	svg {
		display: inline;
		position: relative;
		bottom: .07em;
	}
}

.onboarding-header__title {
	font-size: 2em;
	font-weight: $fontWeigth-SemiBold;
}

.onboarding-main {
	flex: auto;
}

.onboarding-footer {
	text-align: center;

	.lpt-logo {
		display: inline-block;

		img {
			width: 4.25em;
			transition: transform $transition-time-fast;

			&:hover,
			&:active {
				transform: scale(1.15, 1.15);
			}
		}
	}
}

.onboarding-background {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-image: url("images/background-1.gif");
	background-size: cover;
	z-index: 0;

	> img {
		position: absolute;
	}

	.deco-topLeft {
		width: 15.1%;
		min-width: 12.2rem;
		top: 0;
		left: 0;
	}

	.deco-bottomLeft {
		width: 22.7%;
		min-width: 12.2rem;
		bottom: 0;
		left: 0;
	}

	.deco-bottomRight {
		width: 19.8%;
		min-width: 10rem;
		bottom: 0;
		right: 0;
	}
}

.onboarding-choiceList {
	text-align: center;
	display: flex;
	justify-content: center;
	flex-flow: wrap;

	li {
		flex: 8.75em 1 0;
		display: block;
		margin: .75em;
		max-width: 10em;
		height: 5.5em;
	}

	.btn {
		display: flex;
		width: 100%;
		height: 100%;
		margin: 0;
	}
}

.onboarding-requestReady {
	position: relative;
	width: 100%;
	max-width: 27rem;
	margin-bottom: -1.75em;
	z-index: 10;
}

.onboarding-confirmMessage {
	max-width: 48rem;
	padding: 3.22em 2.89em 2.89em 2.22em;
	border-radius: 1.125em;
	font-size: 1.8rem;
	text-align: center;
	background: #fff;

	p {
		color: $onboarding-green-dark;
	}
}

.onboarding--confirmation {

	.onboarding-main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0 2rem;

		.lpt-logo {
			max-width: 6.8rem;
			margin-bottom: 2.5em;
		}
	}

	.onboarding-footer .lpt-logo {
		display: none;
	}

	.btn-ondboarding {
		margin-bottom: .75em;
	}

}

@keyframes floating {
	from {
		transform: rotate(-2deg);
	}
	to {
		transform: rotate(2deg);
	}
}

@media (min-width: 1024px) {
	.onboarding-header {
		.lpt-logo,
		.header-flags {
			display: block;
		}
	}

	.onboarding-header__text {
		margin-bottom: 8.4rem;
	}

	.onboarding-header__title {
		font-size: 3em;
	}

	.onboarding-footer {
		.lpt-logo {
			display: none;
		}
	}

	.onboarding-requestReady {
		max-width: 38rem;
		margin: -1.25em;
	}

	.onboarding-confirmMessage {
		padding: 2.5em 1.78em 2em 1.78em;
	}

	.onboarding--confirmation {
		.header-flags {
			display: none;
		}
		.onboarding-main {
			.lpt-logo {
				display: none;
			}
		}
	}
}