/*
Type: Page
Name: Onboarding
*/

.page.onboarding {
	height: 100vh;
	background-color: $color-orange-2;
	background-image: url("images/background-1.gif");
	background-size: cover;
	font-family: Signika, sans-serif;
	font-weight: $fontWeigth-Book;
	font-size: 1.6em;

	.onboarding-header,
	.onboarding-main,
	.onboarding-footer {
		z-index: 10;
	}
}

.onboarding-header {
	padding: 1em 1em 0 1em;

	.header-flags {
		text-align: right;
		letter-spacing: 0;
	}

	.header-flags svg {
		display: inline-block;
		margin-left: 1em;
		height: auto;
		transition: transform $transition-time-fast;

		&:hover,
		&:active {
			transform: scale(1.15, 1.15) rotate(3deg);
		}
	}
}

.onboarding-footer {
	text-align: center;

	.lpt-logo {
		display: inline-block;

		img {
			width: 4.25em;
			transition: transform $transition-time-fast;

			&:hover,
			&:active {
				transform: scale(1.15, 1.15);
			}
		}
	}
}

.onboarding-background {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 0;

	> img {
		position: absolute;
	}

	.deco-topLeft {
		width: 15.1%;
		min-width: 12.2rem;
		top: 0;
		left: 0;
	}

	.deco-bottomLeft {
		width: 22.7%;
		min-width: 12.2rem;
		bottom: 0;
		left: 0;
	}

	.deco-bottomRight {
		width: 19.8%;
		min-width: 10rem;
		bottom: 0;
		right: 0;
	}
}

.page.onboarding--portal {
	display: flex;
	flex-direction: column;

	.onboarding-header {
		padding: 1em 1em 0 1em;
	}

	.onboarding-main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex: auto;
	}

	.btn.btn-ondboarding {
		font-size: 1.125em;
		margin: 2.22em 0;
	}

	.header-flags svg {
		min-width: 5.4rem;
		width: 3.47%;
		margin-left: 1em;
	}

	.lpt-logo img {
		width: 8rem;
		min-width: 7.2rem;
		margin: 0 auto 1em auto;
	}
}

.onboarding-portalTitle {
	width: 100%;
	max-width: 47.2rem;
	padding: 0 3.6rem;
	animation: 3s infinite alternate ease-in-out floating;
}

@keyframes floating {
	from {
		transform: rotate(-2deg);
	}
	to {
		transform: rotate(2deg);
	}
}

@media (min-width: 1024px) {
	.page.onboarding--portal {
		.onboarding-header {
			padding: 1.39% 1.39% 0 1.39%;
		}

		.btn.btn-ondboarding {
			font-size: 1.91vw;
			padding: 0.667em 1.667em;
		}

		.lpt-logo img {
			width: 5.38vw;
			margin: 0 auto 1.39vw auto;
		}

		.header-flags svg {
			margin-left: 1.39%;
		}
	}

	.onboarding-portalTitle {
		max-width: none;
		min-width: 40rem;
		width: 37.5%;
		padding: 0;
	}
}