/*
Type: Page
Name: Onboarding
Shor: .onb
*/

.page--onboarding-welcome,
.page--onboarding-confirm,
.page--onboarding {
	min-height: 100vh;
	background-color: $color-orange-2;
	font-family: Faune, sans-serif;
	font-weight: $fontWeigth-Book;
	font-size: 1.8em;
}

.page--onboarding main {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.page--onboarding .container {
	width: 100%;
	max-width: 50rem;
	margin: 8rem auto;
}

.page--onboarding-welcome {
	text-align: center;
}

.onb__title {
	//font-family: "Faune Display", SuCaiJiShiKangKangTi, sans-serif;
	font-weight: $fontWeigth-Black;
	font-size: 2em;
	margin-bottom: 1em;
	text-align: center;
}

.onb__subtitle {
	margin-bottom: 2em;
}

.onb-list {
	width: 100%;
	max-width: 45rem;
}

.onb-card {
	display: inline-block;
	padding: .75em .875em;
	margin-bottom: 1.6em;
	background: $color-white;
	border-radius: .5em;
	font-size: 1em;
	text-align: left;
	box-shadow: 0 .5em 0 $color-orange-7;
	transition: box-shadow $transition-time-fast, transform $transition-time-fast;
	transform: translateY(-.5em);
}

.onb-card--interactive {
	&:hover,
	&:focus {
		box-shadow: 0 .25em 0 $color-orange-7;
		transform: translateY(-.25em);
	}

	&:focus {
		//background-color: $color-orange-1;
		//text-decoration: underline;
		outline: none;
	}

	&:active {
		box-shadow: 0 0 0 $color-orange-7;
		transform: translateY(0);
		transition: box-shadow 0s, transform 0s;
	}
}

.onb-card--full {
	display: block;
	width: 100%;
}

.onb-card__title {
	font-size: 1.25em;
	font-weight: $fontWeigth-Bold;
	color: $color-blue-7;
}

.onb-card__description {
	margin-top: 0.875em;
	margin-bottom: .375em;
	line-height: 1.5;
	color: $color-gray-7;
}

.onb-card__aside {
	float: right;
	margin-left: 1em;
	margin-bottom: 1em;
	font-size: 1.25em;
	text-align: right;
	color: $color-gray-7;
}

.onb-card__duration {
	font-size: .75em;
}