/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public/css
/public/js
/public/fonts
/public/images
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.backup
docker-compose.override.yml
.phpunit.result.cache
public/mix-manifest.json
resources/fonts/signika/Signika-Semibold.ttf
resources/fonts/signika/Signika-Regular.ttf
