/*
This file contains your global viriables.
If you want to change bedrocks configuration,
use bedrock/_config.scss instead.
 */

$ffamily-sans: Faune, sans-serif;
$ffamily-sans-cn: "Microsoft Yahei UI", sans-serif;
$font-family-default: $ffamily-sans;

$transition-time-fast: 150ms;
$transition-time-medium: 300ms;
$transition-time-slow: 500ms;

$media-medium: 1152px;
$media-small: 768px;
$media-mobile: 568px;