/*
Type: Component
Name: Button
Short: .btn | <button>
*/
button,
.btn {
	padding: .5em .875em;
	color: $color-white;
	background-color: $color-orange-5;
	border-radius: .5em;
	box-shadow: 0 .5em 0 $color-orange-7;
	transition: box-shadow $transition-time-fast, transform $transition-time-fast;

	&:hover {
		box-shadow: 0 .25em 0 $color-orange-7;
		transform: translateY(.25em);
	}

	&:focus {
		background-color: $color-orange-5;
		text-decoration: underline;
		outline: none;
	}

	&:active {
		box-shadow: 0 0 0 $color-orange-7;
		transform: translateY(.5em);
		transition: box-shadow 0s, transform 0s;
	}
}

.btn--close {
	font-size: 1em;
	padding: 0.4em;
	border-radius: 50%;
	width: 2.5em;
	height: 2.5em;
	line-height: 0;

	&,
	&:hover,
	&:active {
		box-shadow: none;
		transform: none;
	}

	&:focus,
	&:hover,
	&:active {
		text-decoration: none;
		border: .2em solid $color-orange-7;
	}

	&:active {
		background-color: $color-orange-7;
	}

	&:after {
		font-size: 1.5em;
		content: '×';
	}
}