/*
Type: Component
Name: Buttons Onboarding
Short: .btn--onboarding (works with .btn)
*/

.btn.btn-ondboarding {
	margin: 1.6em 0;
	padding: .9em .7em;
	text-align: center;
	font-size: 1.25em;
	line-height: 1.2;
	font-weight: $fontWeigth-SemiBold;
	color: $onboarding-green-dark;
	background: #ffffff;
	box-shadow: 0 .375em 0 $onboarding-green;
	border-radius: 1em;
	transition: box-shadow $transition-time-fast, transform $transition-time-fast;
	transform: translateY(-.375em);
	display: inline-flex;
	align-items: center;
	justify-content: center;

	&:hover {
		box-shadow: 0 .25em 0 $onboarding-green;
		transform: translateY(-.25em);
	}

	&:active {
		box-shadow: 0 0 0 $onboarding-green;
		transform: translateY(0);
		transition: box-shadow 0s, transform 0s;
	}
}

.btn.btn-ondboarding--small {
	margin: 0;
	padding: .89em;
	text-align: center;
	font-size: 1.125em;
	font-weight: $fontWeigth-Book;
	background: $color-gray-2;
	box-shadow: 0 .375em 0 #BFBFBF;
	border-radius: .44em;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	&:hover {
		box-shadow: 0 .25em 0 #BFBFBF;
	}

	&:active {
		box-shadow: 0 0 0 #BFBFBF;
	}
}

.page.onboarding {
	.btn--link {
		margin: 0 auto;
		font-size: 1.8rem;
		color: $onboarding-green-dark;
		text-decoration: underline;
		&:hover {
			color: $onboarding-green;
		}
	}
}