/*
This file contains variables that impacts the entire style.
This is a config file, do not implement global variables here,
use _variables.scss instead.
 */

$font-size: 1.6rem;
$line-height: 2.4rem;
$text-dark: $color-text;
$background-default: #ffffff;
