/*
This file contains variables that impacts the entire style.
This is a config file, do not implement global variables here,
use _variables.scss instead.
 */

$font-size: 2.4rem;
$line-height: 3.8rem;
$text-dark: $color-gray-9;
