/*
Define your @font-face here
 */

$fontWeigth-Light: 300;
$fontWeigth-Book: 400;
$fontWeigth-Bold: 700;

//@font-face {
//	font-family: Jost;
//	src: local('Jost* 300 Light'),
//		url('../fonts/Jost-300-Light.subset.woff2') format('woff2'),
//		url('../fonts/Jost-300-Light.subset.woff') format('woff');
//	font-weight: $fontWeigth-Light;
//	font-style: normal;
//	font-display: swap;
//}