/*
Define your @font-face here
 */

$fontWeigth-Light: 300;
$fontWeigth-Book: 400;
$fontWeigth-SemiBold: 600;
$fontWeigth-Bold: 700;
$fontWeigth-Black: 900;

@font-face {
	font-family: 'Signika';
	src: url('../../fonts/signika/Signika-Regular.subset.woff2') format('woff2'),
	url('../../fonts/signika/Signika-Regular.subset.woff') format('woff');
	font-weight: $fontWeigth-Book;
	font-style: normal;
	font-display: swap;
}

//
@font-face {
	font-family: 'Signika';
	src: url('../../fonts/signika/Signika-Semibold.subset.woff2') format('woff2'),
	url('../../fonts/signika/Signika-Semibold.subset.woff') format('woff');
	font-weight: $fontWeigth-SemiBold;
	font-style: normal;
	font-display: swap;
}