/*
This file contains all base styles about text.
It's not a place where to tweak variables, use _variables.scss for that purpose.
 */

html, body {
	background: $color-gray-0;
	font-size: $font-size;
	font-family: $font-family-default;
	line-height: $line-height;
	color: $text-dark;
}